[alias]
    s = status
    lg = log --color --graph --all --branches --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[blame]
    date = relative
