snippet bp
__import__('ipdb').set_trace()
endsnippet

snippet main
def main():
	$0


if __name__ == '__main__':
	main()
endsnippet

snippet new
# -*- coding: utf-8 -*-
""" $1

`date +%d.%m.%Y` / Hannes Badertscher

"""
$0
endsnippet

snippet argparse
from argparse import ArgumentParser
parser = ArgumentParser(description="$1")
parser.add_argument($0)
args = parser.parse_args()
endsnippet
